/* Scroll animation: fade-in and slide-up */
.fade-slide {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.fade-slide.show {
  opacity: 1;
  transform: translateY(0);
}

[data-theme="light"] {
  --color-bg: #ffffff;
  --color-bg-header: rgb(252, 255, 193);

  --color-fg: #000000;
  --color-fg-text: #2c3e50;

  --color-bg-projects: #fff;

  --color-fg-send-hover-txt: #2c3e50;
  --color-fg-send-hover-background: #FFFFFF;

  --color-bg-main: #ecf0f1;
  --color-fg-main: rgb(0, 0, 0);
}

[data-theme="dark"] {
  --color-bg: #000000;
  --color-bg-header: #2c3e50;

  --color-fg: #ffffff;
  --color-fg-text: rgb(252, 255, 193);

  --color-bg-projects: rgb(0, 0, 0);

  --color-fg-send-hover-txt: #FFFFFF;
  --color-fg-send-hover-background: #2c3e50;

  --color-bg-main: rgb(0, 0, 0);
  --color-fg-main: #ecf0f1;
}

body {
  background-color: var(--color-bg);
  color: var(--color-fg);
}

header {
  width: 100%;
  background-color: var(--color-bg-header);
  color: var(--color-fg-text);
}

section {
  background-color: var(--color-bg-main);
  color: var(--color-fg-text);
}

.white-black-bg {
  background-color: var(--color-bg-projects);
  color: var(--color-fg-text);
}

.personal-projects {
  background-color: var(--color-bg-projects);
  color: var(--color-fg-text);

  .fa {
    display: inline;
  }
}

.fa {
  padding: 1.25rem;
  width: 4.6rem;
  text-align: center;
  text-decoration: none;
  margin: 0.3125rem 0;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

nav {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  color: var(--color-fg);
  text-wrap: nowrap;

  .fa {
    padding: 0.3rem;
  }

  button {
    border-radius: 0.4rem;
    border: none;
    margin-right: 1rem;
  }
}

a {
  font-size: 1.25rem;
}

footer {
  background-color: var(--color-bg-main);
  color: var(--color-fg-main);
}

#mobile-nav {
  transition: all 0.3s ease-in-out;
  transform-origin: top right;
  transform: scaleY(0);
  opacity: 0;
}

#mobile-nav.show {
  transform: scaleY(1);
  opacity: 1;
}

html {
  scroll-behavior: smooth;
}

#hero, #projects, #skills {
  scroll-margin-top: 6rem;
}

#work {
  scroll-margin-top: 7rem;
}

#about {
  scroll-margin-top: 5rem;
}

#academics {
  scroll-margin-top: 3.5rem;
}

/* Mobile: swap hamburger and theme toggle */
@media (max-width: 768px) {
  #mobile-menu-btn {
    /* Move after theme toggle button. */
    order: 2;
  }

  #theme-toggle-btn {
    /* Move before the hamburger menu button. */
    order: 1;

    /* Reset the left margin. */
    margin-left: 0;

    margin-right: 0.5rem;
  }

  #about {
    scroll-margin-top: 6rem;
  }

  #academics {
    scroll-margin-top: 5rem;
  }
}